@model Subject

@{
    ViewData["Title"] = "Subcjet information";
    Layout = "Simple";
}

<div class="text-center">
  <h1 class="display-4">@ViewData["Title"]</h1>
  <h2>Name: @Model.Name</h2>
  <p><i>@ViewBag.Date</i></p>

</div>
