@model List<Subject>

@{
    ViewData["Title"] = "Subcjet information";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>From the partial view</strong>

@foreach(var subject in Model)
{
  <partial name="SchoolObjectSimple" model="subject" />
}

<p><i>@ViewBag.Date</i></p>