@model School

<!-- Codigo CSHARP -->
@{
    ViewData["Title"] = "School information";
    Layout = "_Layout";
}

<div class="text-center">
  <h1 class="display-4">School</h1>
  <h2>Name: @Model.Name
  </h2>
  <p><strong>foundation year: @Model.foundationYear</strong> </p>
</div>
