@{
  ViewData["Title"] = "Course Information";
}

<h1>@ViewData["Title"]</h1>
<strong>From the main view</strong>
<p>
  Name: @Model.Name
  <br />
  UniqueId: @Model.Id
</p>

<strong>From the partial view</strong>
<partial name="SchoolObjectSimple" />

<p><i>@ViewBag.Date</i></p>